@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Raleway", italic;
}

:root {
    --dark-color: #0f0f0f;
    --light-color: #FFFFFF;
    --accent-color: #11131479;
}

body {
    background-color: #ffffff;
    margin: 0;
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0px 32px;

}

.Contact {
    background-color: rgb(6, 161, 110);
    color: var(--light-color);
    padding: 8px 32px;
    display: inline-block;
    font-weight: 500;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    margin-inline: auto;
    max-width: 1200px;

    z-index: 5;
    padding: 16px 32px;

    background: rgba(255,255,255, 0.8);
    --webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 42px rgba(0,0,0,0.1);
}

nav .menu-items {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
}

nav .menu-items a:hover {
    color: var(--accent-color);
}

nav .menu-items .Contact:hover {
    color: #fae5e5;
}

.logo {
    font-weight: 600;
    font-size: 24px;
}

h1 {
    display: flex;
    justify-content: left;
    padding: 50px 200px;
    font-weight: 500;
    font-size: 80px;
    background: linear-gradient(90deg, #a4d89f 7%, #135f00 60%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}



.description {
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 100px 0px;
}

.Here {
    color: #06a16e;
    
}

.rocks {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.trees {
    height: 200px;
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

