<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Matthew's Shop</title>
    
    <style>
      .center {
        text-align: center;
      }
      
      .button-container {
        display: flex;
        gap: 5px; 
      }
      
    </style>
    
  </head>
  
  
  <body style="background-color:powderblue;">
    <center><h1>Matthew's Shop</h1></center>
    
    
  <div class="button-container">
    
    <a href="https://google.com">
     <button class="button-container">Home</button>
    </a>
  
    <a href="https://google.com">
     <button class="button-container">About</button>
    </a>
    
  </div>


    <form action="/search" method="GET">
      <p>Search: <input type="text"></p>
      
    </form>
    
    
  </body>
</html>
