<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Outdoor Gear</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  
  <div class="container">
    <nav>

      <div class="logo">
        <a href="#">Outdoor Gear</a>
      </div>

      <div class="menu-items">
        <a href="/login">Login</a>
        <a href="/store">Shop</a>
        <a href="/">Home</a>
        <a href="#" class="Contact">Contact</a>
      </div>
    </nav>
  </div>

  <!-- NAV BAR -->
  <div class="create-acc-header">
    <h1>Create a account</h1>
  </div>

  <div class="login2">
    <form action="/submit-account" method="POST">
      <p>Email: <input id="New_Email" type="text"></p>
      <p>Password: <input id="New_Password" type="text"></p>

      <button type="button" onclick="sendData()">Create Account</button>
      
    </form>
  </div>

  <p id="message"></p>

  <script>
    function sendData() {
      const New_Email = document.getElementById("New_Email").value;
      const New_Password = document.getElementById("New_Password").value;

      fetch('/submit-account', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ New_Email: New_Email , New_Password: New_Password})
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById("message").textContent = data.message;
      });
    }
  </script>





</body>
</html>