<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Matthew</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
    <nav>

      <div class="logo">
        <a href="#">Shop</a>
      </div>

      <div class="menu-items">
        <a href="/login">Login</a>
        <a href="/store">Shop</a>
        <a href="#">About</a>
        <a href="#" class="Contact">Contact</a>
      </div>
    </nav>
  </div>

  <!-- NAV BAR -->

  <div class="left">
    <h1>Welcome to the  shop!</h1>

    <p class="sub-heading">This is a shop built by Matthew Dunnavant</p>
  </div>

  <div class="description">
    <p>Have you ever wanted to sell somthing? Me too! Sell your things on Matthew's Shop!</p>
  </div>


</body>
</html>