<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Outdoor Gear</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  
  <div class="container">
    <nav>

      <div class="logo">
        <a href="#">Outdoor Gear</a>
      </div>

      <div class="menu-items">
        <a href="/login">Login</a>
        <a href="/store">Shop</a>
        <a href="#">About</a>
        <a href="#" class="Contact">Contact</a>
      </div>
    </nav>
  </div>

  <!-- NAV BAR -->

  <div class="rocks">
    <img src="static/images/rocks.jpg" alt="" />
  </div>

  <div class="left">
    <h1>Outdoor Gear</h1>

    <p class="sub-heading">This is a shop built by Matthew Dunnavant</p>
  </div>

  <div class="slideshow">
    <img src="static/images/shoe.jpg" alt="" />
    <img src="static/images/rope.jpg" alt="" />
    <img src="static/images/skis.jpg" alt="" />
  </div>

  <div class="description">
    <p>Have you ever wanted to sell some outdoor gear? Me too! Click <a href="/login" class="Here">HERE</a> to create a account!</p>
  </div>

  <div class="trees">
    <img src="static/images/trees.jpg" alt="" />
  </div>



</body>
</html>