<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Matthew</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
    <nav>

      <div class="logo">
        <a href="#">Logo</a>
      </div>

      <div class="menu-items">
        <a href="/login">Login</a>
        <a href="/store">Shop</a>
        <a href="#">About</a>
        <a href="#" class="Contact">Contact</a>
      </div>
    </nav>
  </div>


</body>
</html>