<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Outdoor Gear</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  
  <div class="container">
    <nav>

      <div class="logo">
        <a href="#">Outdoor Gear</a>
      </div>

      <div class="menu-items">
        <a href="/logout">Logout</a>
        <a href="/store">Shop</a>
        <a href="/">Home</a>
        <a href="#" class="Contact">Contact</a>
      </div>
    </nav>
  </div>

  <!-- NAV BAR -->

  <div class="Create-listing">
    <form action="add-listing" method="POST">
      <p>Name of listing: <input name="name" type="text"></p>
      <p>Price: <input name="price" type="text"></p>
      <p>Img: <input name="img" type="text"></p>

      <input name="Submit" type="submit" value="add-listing">
      
    </form>
  </div>


</body>
</html>