@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --accent-color: #123456;
}

body {
    background-color: #f41234;
    margin: 0;
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
}